<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Add Notes</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navigation d-flex">
        <h3 class="nav-title">simplenote.com</h3>
        <div class="nav-div">
            <a href="/books" class="a-register">Book List</a>
            <a href="/logout" class="a-login">Logout</a>
        </div>
    </nav>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color:red">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/create_book" method="POST">
            <div id="create-book" class="registration-form p-5 col-5 mx-auto rounded d-flex">
                <div>
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" name="title" class="form-control">
                </div>
                <div>
                    <label for="author" class="form-label">Author:</label>
                    <input type="text" name="author" class="form-control">
                </div>
                <div>
                    <label for="category" class="form-label">Category:</label>
                    <select name="category" class="form-control">
                        <option value="Choose Category"></option>
                        <option>Philosophy</option>
                        <option>Business</option>
                        <option>Computer Science</option>
                        <option>Psychology</option>
                        <option>Self-Improvement</option>
                        <option>Physics</option>
                        <option>Classics</option>
                        <option>Science</option>
                        <option>Economics</option>
                        <option>Investing</option>
                    </select>
                </div>
            </div>
            <div class="txtarea">
                <label for="note" class="noteslabel">Notes:</label>
                <textarea name="note" cols="30" rows="10" class="form-control" id="textarea"></textarea>
            </div>
            <div class="add-div">
                <button type="submit" id="add-book-new" class="btn btn-success">Add Book</button>
            </div>
        </form>
    </div>
</body>
</html>